body {
    background: #e9ecee;
}

#main {
    width: 70%;
    background: #fff;
    padding: 50px;
    margin: 50px auto;
    display:table;
}

#main-canvas {
    float: left;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

h1 {
    font-family: 'Slabo 27px', serif;
    color: #192025;
    text-align: right;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 85%;
    text-align: right;
}

#again-button {
    margin-top: 30px;
    padding: 5px;
}